<!DOCTYPE html>
<html>
<head>
<style>
.container {
  display: flex;
  align-content: center;
}

.left-div, .right-div {
  width: 50%;
}

.separator {
  width: 12px; /* Adjust the width of the line */
  background-color: black; /* Set the line color */
  margin: 0 10px; /* Optional: Add horizontal spacing */
  height: 15px;
  border-radius: 5px;
}
</style>
</head>
<body>
  <div class="container">
    <div class="left-div">Content on the left</div>
    <div class="separator"></div>
    <div class="right-div">Content on the right</div>
  </div>
</body>
</html>